@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

* {
    outline: none;
    border: none;
    border-collapse: inherit;
    color: inherit;
    list-style: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

html, body
{
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


a {
    text-decoration: none;
    transition: all 400ms ease-in-out;

    &:focus,
    &:hover
    {
        outline: none;
        text-decoration: none;
    }
}

/* ==========================================================================
    Colors
============================================================================= */

$palette-color-key: 'base' !default;

$palette-colors: (
  'primary': (
    'base': #f2f2f2,
    'light': #fff,
    'dark': #d9d9d9
  ),
  'secondary': (
    'base': #33302d,
    'light': #5e5e5e,
    'dark': #222222
  ),
  'orange': (
    'base': #ff6900,
    'light': #fb954d,
    'dark': #b8643a
  ),
  'yellow': (
    'base': #ffbc00,
    'light': #fff152,
    'dark': #d29503
  )
);

$palette-opacity: (
  'dark': 0.8, // opacity used with lighter colors
  'light': 0.4,  // opacity used with darker colors
  // ... etc.
);

@function palette-color(
  $name: 'primary',
  $variant: $palette-color-key,
  $opacity: 1
) {
  $color: null;
  
  // Get the color spectrum
  $color-spectrum: map-get($palette-colors, $name);
  
  // Get the color variant
  @if $color-spectrum {
    $color: map-get($color-spectrum, $variant);
  }
  
  // Get the alpha setting
  $alpha: if(type-of($opacity) == 'number', $opacity, map-get($palette-opacity, $opacity));
  
  // Set the alpha of the color
  @if $alpha {
    $color: rgba($color, $alpha);
  }
  
  @return $color;
}
