@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
* {
  outline: none;
  border: none;
  border-collapse: inherit;
  color: inherit;
  list-style: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

html, body {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

a:focus, a:hover {
  outline: none;
  text-decoration: none;
}

/* ==========================================================================
    Colors
============================================================================= */
body {
  background: #ff6900;
  font-family: 'Open Sans', sans-serif;
}

.login-page {
  color: white;
  height: 100%;
  display: table;
  width: 100%;
}

.login-page .intro-content,
.login-page .form-content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.login-page .intro-content .center-content {
  width: 80%;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login-page .intro-content h1 {
  max-width: 600px;
  margin: 0 auto 40px;
}

/* =======================================================
    Form
======================================================= */
.form-content {
  color: white;
  background: #222222;
}

.form-content .float-buttons {
  z-index: 40;
  top: 20px;
  right: 20px;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.4);
  display: block;
  border-radius: 25px;
  overflow: hidden;
}

.form-content .float-buttons li.nav-item {
  display: inline-block;
  vertical-align: middle;
}

.form-content .float-buttons li.nav-item .nav-link {
  margin: 0 -3px;
  font-size: 11px;
  border-radius: 0;
  text-transform: uppercase;
  color: white;
}

.form-content .float-buttons li.nav-item .nav-link.active {
  background: #5e5e5e;
}

.form-content .content {
  top: 50%;
  left: 50%;
  width: 80%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form-default .form-group label {
  display: block;
  font-size: 11px;
  text-transform: uppercase;
  color: #5e5e5e;
}

.form-default .form-group .form-control {
  font-size: 13px;
  border-radius: 0;
  padding: 10px 0;
  border-width: 0 0 1px 0;
  background: transparent;
  color: white;
}

.form-default .form-group .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #ff6900;
}

.form-default .form-check {
  font-size: 14px;
}

.form-default .form-check .checkbox {
  font-size: 13px;
  text-transform: none;
  color: white;
}

.form-default .form-check span {
  cursor: pointer;
  text-decoration: underline;
  color: #5e5e5e;
}

.form-default .form-check span:hover {
  color: #fb954d;
}

.form-default footer .btn {
  font-size: 12px;
  font-weight: bold;
  padding: 12px 30px;
  border-radius: 25px;
  text-transform: uppercase;
  color: #33302d;
  background: #ffbc00;
}

.form-default footer .btn:hover {
  background: #ff6900;
}

.form-default footer .btn.disabled {
  background: #5e5e5e;
}

.form-default footer a {
  font-size: 14px;
  text-decoration: underline;
  color: #5e5e5e;
}

.form-default footer a:hover {
  color: #ffbc00;
}

.form-default footer .nav-link {
  background: transparent !important;
}

.help-block {
  position: relative;
}

.help-block ul {
  margin: 10px 0;
  padding: 0;
  font-size: 12px;
  text-transform: none;
  border-radius: 2px;
  background: #fb954d;
  padding: 2px;
  display: inline-block;
  padding: 2px;
  height: auto;
  line-height: 100%;
  position: absolute;
}

.help-block ul:before {
  content: '';
  position: absolute;
  top: -8px;
  left: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 8px 7.5px;
  border-color: transparent transparent #fb954d transparent;
}

.help-block ul li {
  padding: 3px;
  color: white;
}

/* =======================================================
    Modal
======================================================= */
.modal .modal-content {
  color: white;
  background-color: #222222;
}

.modal .modal-content .modal-header {
  color: #b8643a;
}

.modal .modal-content .modal-header button {
  opacity: 1;
  text-shadow: none;
  color: white;
}

.modal .modal-content .modal-body {
  font-size: 14px;
}

/* =======================================================
    @media
======================================================= */
@media only screen and (max-width: 712px) {
  .login-page {
    color: white;
    height: 100%;
    display: block;
    width: 100%;
  }
  .login-page .intro-content,
  .login-page .form-content {
    display: block;
    position: relative;
    vertical-align: middle;
  }
  .login-page .intro-content .center-content {
    padding: 40px 15px;
    top: auto;
    left: auto;
    width: 100%;
    position: relative;
    -webkit-transform: none;
            transform: none;
  }
  .login-page .intro-content .center-content h1 {
    max-width: 300px;
    font-size: 25px;
  }
  .login-page .form-content .content {
    top: auto;
    left: auto;
    width: 100%;
    padding: 80px 15px;
    position: relative;
    -webkit-transform: none;
            transform: none;
  }
  .login-page .form-content .content h2 {
    font-size: 25px;
  }
}
/*# sourceMappingURL=index.css.map */