@import 'config';

body {
    background: palette-color('orange');
    font-family: 'Open Sans', sans-serif;
}

.login-page {
    color: white;
    height: 100%;
    display: table;
    width: 100%;

    .intro-content,
    .form-content {
        position: relative;
        display: table-cell;
        vertical-align: middle;
    }
    
    .intro-content {

        .center-content {
            width: 80%;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }

        h1 {
            max-width: 600px;
            margin: 0 auto 40px;
        }
    }
}

/* =======================================================
    Form
======================================================= */

.form-content {
    color: palette-color('primary', 'light');;
    background: palette-color('secondary', 'dark');

    .float-buttons {
        z-index: 40;
        top: 20px;
        right: 20px;
        position: absolute;
        border: 1px solid rgba(255, 255, 255, 0.4);
        
        display: block;
        border-radius: 25px;
        overflow: hidden;

        li.nav-item {
            display: inline-block;
            vertical-align: middle;

            .nav-link {
                margin: 0 -3px;
                font-size: 11px;
                border-radius: 0;
                text-transform: uppercase;
                color: palette-color('primary', 'light');

                &.active {
                    background: palette-color('secondary', 'light');
                }
            }
        }
    }

    .content {
        top: 50%;
        left: 50%; 
        width: 80%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}

.form-default {
    .form-group {
        label {
            display: block;
            font-size: 11px;
            text-transform: uppercase;
            color: palette-color('secondary', 'light');
        }

        .form-control {
            font-size: 13px;
            border-radius: 0;
            padding: 10px 0;
            border-width: 0 0 1px 0;
            background: transparent;
            color: palette-color('primary', 'light');

            &:focus {
                outline: none;
                box-shadow: none;
                border-color: palette-color('orange');
            }
        }
    }

    .form-check {
        font-size: 14px;

        .checkbox {
            font-size: 13px;
            text-transform: none;
            color: palette-color('primary', 'light');
        }

        span {
            cursor: pointer;
            text-decoration: underline;
            color: palette-color('secondary', 'light');

            &:hover {
                color: palette-color('orange', 'light');
            }
        }
    }

    footer {
        .btn {
            font-size: 12px;
            font-weight: bold;
            padding: 12px 30px;
            border-radius: 25px;
            text-transform: uppercase;
            color: palette-color('secondary');
            background: palette-color('yellow');

            &:hover {
                background: palette-color('orange');
            }

            &.disabled {
                background: palette-color('secondary', 'light');
            }
        }

        a {
            font-size: 14px;
            text-decoration: underline;
            color: palette-color('secondary', 'light');

            &:hover {
                color: palette-color('yellow');
            }
        }

        .nav-link {
            background: transparent !important;
        }
    }
}


.help-block {
    position: relative;

    ul {
        margin: 10px 0;
        padding: 0;
        font-size: 12px;
        text-transform: none;

        border-radius: 2px;
        background: palette-color('orange', 'light');
        padding: 2px;
        display: inline-block;
        padding: 2px;
        height: auto;
        line-height: 100%;
        position: absolute;

        &:before {
            content: '';
            position: absolute;
            top: -8px;
            left: 10px;

            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 7.5px 8px 7.5px;
            border-color: transparent transparent palette-color('orange', 'light') transparent;
        }

        li {
            padding: 3px;
            color: white;
            
        }
    }
}

/* =======================================================
    Modal
======================================================= */

.modal {
    .modal-content {
        color: palette-color('primary', 'light');
        background-color: palette-color('secondary', 'dark');

        .modal-header {
            color: palette-color('orange', 'dark');

            button {
                opacity: 1;
                text-shadow: none;
                color: palette-color('primary', 'light');
            }
        }

        .modal-body {
            font-size: 14px;
        }
    }
}


/* =======================================================
    @media
======================================================= */

@media only screen and (max-width: 712px) {

    .login-page {
        color: white;
        height: 100%;
        display: block;
        width: 100%;

        .intro-content,
        .form-content {
            display: block;
            position: relative;
            vertical-align: middle;
        }

        .intro-content {
            .center-content {
                padding: 40px 15px;
                top: auto;
                left: auto; 
                width: 100%;
                position: relative;
                transform: none;

                h1 {
                    max-width: 300px;
                    font-size: 25px;
                }
            }
        }

        .form-content {
            .content {
                top: auto;
                left: auto; 
                width: 100%;
                padding: 80px 15px;
                position: relative;
                transform: none;

                h2 {
                    font-size: 25px;
                }
            }
        }
    }
}
